.screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-no-border-inline-field {
  display: flex;
  margin-bottom: 2%;
}
.input-no-border-inline-field > form {
  display: flex;
  flex-direction: row;
  width: 20%;
  border-bottom: 2px solid #d9d6d6;
  margin-bottom: 5px;
}
.input-no-border-inline-field > .icon-login {
  padding-top: 4px;
}
label.inline-input {
  padding: 4px;
  font-size: 18px;
}

.input-no-border-field {
  margin-bottom: 2%;
}
.input-no-border-field > label {
  color: '#00000';
  font-size: 18px;
}
.input-no-border-field > form {
  display: flex;
  flex-direction: row;
  width: 20%;
  border-bottom: 2px solid #d9d6d6;
  margin-bottom: 5px;
}
.input-no-border-field > .icon-login {
  padding-top: 4px;
}

.input-no-border {
  padding: 5px 0px;
  position: relative;
}
input.input-no-border {
  padding: 4px;
  display: block;
  border: none;
  width: 100%;
}
input.input-no-border:focus {
  outline: none;
}

.input-border {
  display: flex;
  padding: 3px 1px;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 2%;
  justify-content: center;
  border: 1.5px solid #000000;
  border-radius: 10px;
  width: 20%;
}
input.input-border {
  border: none;
  margin-top: 5px;
  font-size: 15px;
  width: 100%;
}
input.input-border:focus {
  outline: none;
  border-bottom: 1px solid #000000;
  border-radius: 0px;
}

.input-border > .icon-login {
  padding-top: 7px;
  margin-left: auto;
  margin-right: 5px;
  position: relative;
}

.btn-screen {
  width: 50%;
}
.btn {
  background: #f5b263;
  border: 0.5px solid #ffffff;
  border-radius: 20px;
  padding: 15px 0px;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
}
.btn:hover {
  border: 0.5px solid #000000;
}
