.containing {
  display: flex;
  flex-direction: row;
}
.content {
  flex: 6;
  margin: 0% 3%;
}
.content > h1 {
  margin-bottom: 0.75rem;
  font-size: 3rem;
  font-weight: 700;
}
.content > span {
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  text-decoration: underline;
}
.content > p {
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

.intro {
  margin-top: 2.5rem;
}
.intro > p {
  font-size: 1rem;
  text-align: justify;
}

input {
  border: 2px solid #d9d6d6;
  border-radius: 10px;
  font-size: 0.9375rem;
}
input:focus {
  outline: none;
}

.dialogue {
  margin-right: 3%;
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d9d6d6;
  border-radius: 10px;
  height: fit-content;
}
.inner-dialogue {
  margin: 5% 4%;
  width: 95%;
}
.inner-dialogue > span {
  margin-bottom: 3rem;
}
.inner-dialogue > p {
  margin-bottom: 6%;
}
.inner-dialogue > input {
  margin: 0.5rem 0rem;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.inline-mul-input {
  padding-top: 2rem;
  padding-bottom: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.inline-mul-input > label {
  margin-top: 0.75rem;
  padding: 0rem 0.4rem;
}
.inline-mul-input > input {
  padding: 0.5rem 0.4rem;
}
.inline-mul-input > input:focus {
  outline: none;
}

.center-btn {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#price {
  font-weight: 700;
  font-size: 1.75rem;
}
